---
layout: default
---

<div class="home">
  <h1 class="page-heading">Blog Posts</h1>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      <!-- 
          Here is the main paginator logic called.
          All calls to site.posts should be replaced by paginator.posts 
      -->
      {% for post in paginator.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y @ %l%P" }}&nbsp;
            {% assign sorted_tags = post.tags | sort %}
            {% for tag in sorted_tags %}
              {% if tag contains "ipc" %}
                <i class="fas fa-cctv" title="IPC"></i>
              {% endif %}
              {% if tag contains "dos" %}
                <i class="fas fa-do-not-enter" title="DoS"></i>
              {% endif %}
              {% if tag contains "hardware" %}
                <i class="fas fa-microchip" title="Hardware"></i>
              {% endif %}
              {% if tag contains "sniffing" %}
                <i class="fas fa-dog" title="Sniffing"></i>
              {% endif %}
              {% if tag contains "crystal" %}
                <i class="far fa-gem" title="Crystal"></i>
              {% endif %}
              {% if tag contains "client" %}
                <i class="fas fa-user" title="Client"></i>
              {% endif %}
              {% if tag contains "fuzzing" %}
                <i class="fas fa-cat" title="Fuzzing"></i>
              {% endif %}
              {% if tag contains "hacking" %}
                <i class="fas fa-user-secret" title="Hacking"></i>
              {% endif %}
              {% if tag contains "pixel_lang" %}
                <i class="fas fa-image" title="pixel_lang"></i>
              {% endif %}
              {% if tag contains "esolang" %}
                <i class="fas fa-puzzle-piece" title="esolang"></i>
              {% endif %}
            {% endfor %}
          </span>
  
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
    
    <!-- 
      Showing buttons to move to the next and to the previous list of posts (pager buttons).
    -->
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
  

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
