---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p>
    Tags:
    {% assign sorted_tags = page.tags | sort %}
    {% for tag in sorted_tags %}
      {% if tag contains "ipc" %}
        <i class="fas fa-cctv"></i>
      {% endif %}
      {% if tag contains "dos" %}
        <i class="fas fa-do-not-enter"></i>
      {% endif %}
      {% if tag contains "hardware" %}
        <i class="fas fa-microchip"></i>
      {% endif %}
      {% if tag contains "sniffing" %}
        <i class="fas fa-dog"></i>
      {% endif %}
      {% if tag contains "crystal" %}
        <i class="far fa-gem"></i>
      {% endif %}
      {% if tag contains "client" %}
        <i class="fas fa-user"></i>
      {% endif %}
      {% if tag contains "fuzzing" %}
        <i class="fas fa-cat"></i>
      {% endif %}
      {% if tag contains "hacking" %}
        <i class="fas fa-user-secret"></i>
      {% endif %}
      {% if tag contains "pixel_lang" %}
        <i class="fas fa-image"></i>
      {% endif %}
      {% if tag contains "esolang" %}
        <i class="fas fa-puzzle-piece"></i>
      {% endif %}
      {{tag}}
    {% endfor %}
  </p>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
